@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

body {
	display: flex;
	font-family: Muli,sans-serif;
	flex-direction: column;
	justify-content: space-between;
	background-color: none;
	>div {
		>a {
			background-color: none;
		}
	}
	&:before {
		content: '';
		z-index: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		-webkit-filter: blur(2px);
		filter: brightness(40%);
		background: url('src\\assets\\macbook wallpaper.jpg') no-repeat;
		background-size: cover;
		display: flex;
		font-family: Muli,sans-serif;
		align-items: center;
		justify-content: center;
	}
	h6{
	padding:10px;
	color:white;
	float:right
	}
}

.btnDisabled{    
color: #fff;
background-color: #6c757d;
border-color: #6c757d;
}

.contentHeading {
	text-align: center;
	color: white;
	font-size: 2.5em;
	padding-bottom: 15px;
}
h1 {
	color: navy;
	margin-left: 20px;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 1em;
	background-color: white;
	color: slategray;
	text-align: left;
	display: inline;
	font-size: .7em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footerElement {
	border-right: 1px solid #b4b4b4;
	padding: 2px 4px;
	margin: 0;
	color: #696969;
}
.background {
	filter: blur(5px);
	filter: brightness(100%);
}
.pageContent {
	height: inherit;
	display: flex;
	background: none;
	border: none;
	text-align: center;
	color: white;
	font-family: Muli,sans-serif;
	align-items: center;
	justify-content: flex-start;
	align-self: center;
	flex-direction: column;
}
.loginPageButton {
	background-color: #8723ff;
	color: white;
	border-radius: 2em;
	border-color: #8723ff;
	font-family: Muli,sans-serif;
	font-size: .7em;
	font-weight: 900;
	padding: 10px 20px 10px 20px;
	margin-bottom: 25px;
	width: 87px;
	position: absolute;
	left: 25%;
	margin-top: 22px;
	margin-left: 34px;
	&:hover {
		background-color: #8723ff;
		color: white;
		border-radius: 2em;
		border-color: #8723ff;
		font-family: Muli,sans-serif;
		font-size: .7em;
		font-weight: 900;
		padding: 10px 20px 10px 20px;
		margin-bottom: 25px;
		width: 87px;
		position: absolute;
		left: 25%;
		margin-top: 22px;
		margin-left: 34px;
	}
}
.welcomeHead {
	align-self: center;
	padding-bottom: 200‒;
	color: white;
	padding-bottom: 20px;
	font-size: 2em;
	font-weight: lighter;
	font-family: Muli,sans-serif;
}
 .loginCard{
	display: flex;
	min-height: 285px;
	font-family: Muli,sans-serif;
	align-self: center;
	height: auto;
	width: 297px;
	@include media-breakpoint-up(sm) { 
	  width: 325px;
	  
     }
}
.invalidCreds {
	color: red;
	font-size: small;
	text-align: center;
}
label {
	margin-bottom: 0em;
	font-size: .6em;
	color: slategray;
	font-weight: 800;
}
.titleLogin {
	text-align: center;
	margin-bottom: 25px;
	margin-top: 15px;
	font-size: 17px;
	font-weight: 800;
}
.formInput {
	font-size: 12px;
	font-family: Muli,sans-serif;
	background-color: #F5F5F5;
	border-color: #F5F5F5;
}
.allInputs {
	padding: 0px 25px 0px 25px;
}
.pwdInput {
	display: inline-block;
}
.fa {
	position: relative;
	top: -25px;
	right: 10px;
	color: #8723ff;
}
