<body style="background-color: none;">
  <ngx-spinner></ngx-spinner>

<header style="z-index: 1">
  <h6 *ngIf="loginSatus">Logged In</h6>
  <h6 *ngIf="!loginSatus">Not Logged In</h6>
</header>
<div style="display:flex; flex-direction: column; justify-content: space-between;">
<div class="welcomeHead display-4" style="align-self: center;color:white;z-index: 1">Welcome</div>
<div class="card loginCard">
    <h5 style="text-align: center;" class="card-title titleLogin ">Log In</h5>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <!-- <div class="form-group allInputs">
            <label for="exampleInputOrganization">Organization</label>
            <input type="text" class="form-control formInput" id="orgName" [(ngModel)]="model.orgName" name="orgName" aria-describedby="organizationHelp" placeholder="Enter your organization id">
          </div> -->
        <div class="form-group allInputs">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control formInput" id="userName"  [(ngModel)]="model.userName" name="userName" aria-describedby="emailHelp" placeholder="Enter your username">
        </div>
        
        <div class="form-group allInputs">
          <label for="exampleInputPassword1">Password</label>
          <input [type]="isActive ? 'password' : 'text'" class="form-control formInput pwdInput" id="passwd" [(ngModel)]="model.passwd" name="passwd" placeholder="Enter your password">
          <i class="fa fa-eye" style="float:right;cursor: pointer;" (click)="toggleView()"></i>
        </div>
        <div [hidden]="isShow" class="invalidCreds">Your account or password is incorrect. </div>
        <button type="submit" [class.btnDisabled]="disableLogin" [disabled]="disableLogin" class="loginPageButton btn btn-light btn-sm">LOG IN</button>
        
        
      </form>
</div>
</div>
  


<div class="page-footer footer">

    <div>
    <a href="" class="footerElement" style="border-right: 0em; float: right;">&copy; Pawandeep Singh</a>
</div>
  </div>
  
</body>