@import "../../../node_modules/bootstrap/scss/_functions.scss";
@import "../../../node_modules/bootstrap/scss/_variables.scss";
@import "../../../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

.main {
	font-family: Muli,sans-serif;
	&::before {
		content: '';
		z-index: 0;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		-webkit-filter: blur(2px);
		filter: brightness(40%);
		background: url('src\\assets\\macbook wallpaper.jpg') no-repeat;
		background-size: cover;
		//display: flex;
		font-family: Muli,sans-serif;
		z-index: -1;.main {
			font-family: Muli,sans-serif;
		  
			&::before {
			  content: '';
			  z-index: 0;
			  position: absolute;
			  left: 0;
			  right: 0;
			  top: 0;
			  bottom: 0;
			  -webkit-filter: blur(2px);
			  filter: brightness(40%);
			  background: url('src\\assets\\macbook wallpaper.jpg') no-repeat;
			  background-size: cover;
			  //display: flex;
			  font-family: Muli,sans-serif;
			  z-index: -1;
			}
		  }
		  
		  .contentHeading {
			text-align: center;
			color: white;
			font-size: 2.5em;
			padding-bottom: 15px;
		  }
		  
		  h1 {
			color: navy;
			margin-left: 20px;
		  }
		  
		  .footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 1em;
			background-color: white;
			color: slategray;
			text-align: left;
			display: inline;
			font-size: .7em;
			display: flex;
			justify-content: space-between;
			align-items: center;
		  }
		  
		  .footerElement {
			border-right: 1px solid #b4b4b4;
			padding: 2px 4px;
			margin: 0;
			color: #696969;
		  }
		  
		  .background {
			filter: blur(5px);
			filter: brightness(100%);
		  }
		  .pageContent {
			padding-top: 100px;
			height: inherit;
			display: flex;
			background: none;
			border: none;
			text-align: center;
			color: white;
			font-family: Muli,sans-serif;
			align-items: center;
			justify-content: flex-start;
			align-self: center;
			flex-direction: column;
		  }
		  
		  .loginButton {
			background-color: white;
			color: #8723ff;
			border-radius: 2em;
			border-color: white;
			font-family: Muli,sans-serif;
			font-size: .7em;
			font-weight: bolder;
			padding: 7px 12px 7px 12px;
		  
			&:hover {
			  background-color: white;
			  color: #8723ff;
			  border-radius: 2em;
			  border-color: white;
			  font-family: Muli,sans-serif;
			  font-size: .7em;
			  font-weight: bolder;
			  padding: 7px 12px 7px 12px;
			}
		  }
		  
		  .loginPageButton {
			background-color: #8723ff;
			color: white;
			border-radius: 2em;
			border-color: #8723ff;
			font-family: Muli,sans-serif;
			font-size: .7em;
			font-weight: 900;
			padding: 10px 20px 10px 20px;
			margin-top: 13px;
			margin-bottom: 25px;
			width: 87px;
			position: absolute;
			left: 25%;
		  
			&:hover {
			  background-color: #8723ff;
			  color: white;
			  border-radius: 2em;
			  border-color: #8723ff;
			  font-family: Muli,sans-serif;
			  font-size: .7em;
			  font-weight: 900;
			  padding: 10px 20px 10px 20px;
			  margin-top: 13px;
			  margin-bottom: 25px;
			  width: 87px;
			  position: absolute;
			  left: 25%;
			}
		  }
		  
		  .loginCard.card {
			display: flex;
			width: 325px;
			min-height: 370px;
			font-family: Muli,sans-serif;
			position: absolute;
			top: 40%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			align-items: center;
			justify-content: center;
		  }
		  
		  label {
			margin-bottom: 0em;
			font-size: .6em;
			color: slategray;
			font-weight: 800;
		  }
		  
		  .titleLogin {
			text-align: center;
			margin-bottom: 45px;
			margin-top: 15px;
			font-size: 17px;
			font-weight: 800;
		  }
		  
		  .formInput {
			font-size: 12px;
			font-family: Muli,sans-serif;
			background-color: #F5F5F5;
			border-color: #F5F5F5;
		  }
		  
		  .allInputs {
			padding: 0px 25px 0px 25px;
		  }
		  
		  .pwdInput {
			width: 273px;
			display: inline-block;
		  }
		  
		  .fa {
			position: absolute;
			top: 255px;
			right: 35px;
			color: #8723ff;
		  }
	}

.contentHeading {
	text-align: center;
	color: white;
	font-size: 2.5em;
	padding-bottom: 15px;
}
h1 {
	color: navy;
	margin-left: 20px;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 1em;
	background-color: white;
	color: slategray;
	text-align: left;
	display: inline;
	font-size: .7em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footerElement {
	border-right: 1px solid #b4b4b4;
	padding: 2px 4px;
	margin: 0;
	color: #696969;
}
.background {
	filter: blur(5px);
	filter: brightness(100%);
}
 .dlsDescription {
	text-align: center;
	padding: 10px;
  min-width: 290px;
	@include media-breakpoint-up(sm) { 
    width: 325px;
}
 }

	.pageContent {
		padding-top: 100px;
		height: inherit;
		display: flex;
		background: none;
		border: none;
		text-align: center;
		color: white;
		font-family: Muli,sans-serif;
		align-items: center;
		justify-content: flex-start;
		align-self: center;
		flex-direction: column;
	}

.loginButton {
	background-color: white;
	color: #8723ff;
	border-radius: 2em;
	border-color: white;
	font-family: Muli,sans-serif;
	font-size: .7em;
	font-weight: bolder;
	padding: 7px 12px 7px 12px;
	&:hover {
		background-color: white;
		color: #8723ff;
		border-radius: 2em;
		border-color: white;
		font-family: Muli,sans-serif;
		font-size: .7em;
		font-weight: bolder;
		padding: 7px 12px 7px 12px;
	}
}
.loginPageButton {
	background-color: #8723ff;
	color: white;
	border-radius: 2em;
	border-color: #8723ff;
	font-family: Muli,sans-serif;
	font-size: .7em;
	font-weight: 900;
	padding: 10px 20px 10px 20px;
	margin-top: 13px;
	margin-bottom: 25px;
	width: 87px;
	position: absolute;
	left: 25%;
	&:hover {
		background-color: #8723ff;
		color: white;
		border-radius: 2em;
		border-color: #8723ff;
		font-family: Muli,sans-serif;
		font-size: .7em;
		font-weight: 900;
		padding: 10px 20px 10px 20px;
		margin-top: 13px;
		margin-bottom: 25px;
		width: 87px;
		position: absolute;
		left: 25%;
	}
}
.loginCard.card {
	display: flex;
	width: 325px;
	min-height: 370px;
	font-family: Muli,sans-serif;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
}
label {
	margin-bottom: 0em;
	font-size: .6em;
	color: slategray;
	font-weight: 800;
}
.titleLogin {
	text-align: center;
	margin-bottom: 45px;
	margin-top: 15px;
	font-size: 17px;
	font-weight: 800;
}
.formInput {
	font-size: 12px;
	font-family: Muli,sans-serif;
	background-color: #F5F5F5;
	border-color: #F5F5F5;
}
.allInputs {
	padding: 0px 25px 0px 25px;
}
.pwdInput {
	width: 273px;
	display: inline-block;
}
.fa {
	position: absolute;
	top: 255px;
	right: 35px;
	color: #8723ff;
}
}